{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "RESIDENT_DATA": "/tmp/rapp-resident-data"
  },
  "Host": {
    "CORS": "*"
  }
}
